*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #434455;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

.container {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and(max-width:1157px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
.nav-list,
.nav-link,
.address {
  display: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/*header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  gap: 40px;
}

.nav-cont {
  display: flex;
  align-items: center;
}

.logo-accent {
  color: #4d5ae5;
}

.logo {
  font-size: 18px;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  text-decoration: none;
}

.logo-accent {
  color: #2e2f42;
}

/*Mobile Menu*/
.menu-mobile {
  display: none;
  top: 0;
  right: 0;
  border-radius: 4px;
  background: #fcfcfc;
  padding: 72px 24px 40px 16px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  z-index: 999;
}
.menu-mobile.is-open {
  display: flex;
  transform: translateX(0);
}

.menu-mobile-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: auto;
}
.menu-mobile-item {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-decoration: none;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-mobile-item.current,
.menu.current {
  color: #404bbf;
}
.menu-mobile-item:hover,
.menu-mobile-item:focus,
.address-details-mobile:hover,
.address-details-mobile:focus {
  color: #404bbf;
}
.address-list-mobile {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.address-mobile {
  font-style: normal;
  margin-bottom: 48px;
}
.address-details-mobile {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-mobile {
  display: inline-flex;

  gap: 40px;
  align-items: flex-start;
}
.icon-circle {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;

  align-items: flex-start;
}
.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-mobile {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .menu-burger,
  .menu-mobile {
    display: none;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .nav-link:hover,
  .nav-link:focus,
  .adress-link:hover,
  .adress-link:focus {
    color: #404bbf;
  }
  .nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #2e2f42;
    letter-spacing: 0.32px;
    text-decoration: none;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    display: block;
  }
  .nav-link.current::after,
  .nav-link:hover::after {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    content: '';
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    color: #404bbf;
  }
  .address {
    font-style: normal;
    display: flex;
  }

  .adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .adress-link {
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-container {
    padding: 0;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .adress-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
  .adress-link {
    font-size: 16px;
  }
}

/*section-main*/
.main-text {
  max-width: 320px;
  padding: 72px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .main-text {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-tablet.jpg');
  }
  .first-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .main-text {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office.jpg');
  }
}
@media (min-resolution: 192dpi) {
  .main-text {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-mbl@2x.jpg');
  }
}
@media only screen and (min-width: 768px) and(min-resolution: 192dpi) {
  .main-text {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-tablet@2x.jpg');
  }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-text {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office@2x.jpg');
  }
}

.link:hover,
.link:focus {
  color: #404bbf;
}
.container .section-one-cont {
  display: inline-flex;
  display: flex;
  justify-content: center;
  max-width: 1440px;
}
.first-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/*section2*/
.features {
  padding: 120px 0;
}

.features-set {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 72px;
  margin: 0;
  list-style: none;
}

.features-wrapper {
  display: none;
}

.three-title {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.second-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .features-set {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .three-title {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .features-set {
    flex-wrap: nowrap;
    gap: 24px;
    align-items: flex-start;
    padding: 0;
  }
  .features-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .features-wrapper {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .features-icon {
    width: 64px;
    height: 64px;
  }
  .three-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .team-text,
  .features-text {
    font-weight: 400;
  }
}
/*section3*/
.team {
  background-color: #f4f4fd;
}
.second-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.member {
  max-width: 264px;
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding-bottom: 32px;
}
.member + .member {
  margin-top: 72px;
}
.team-card-img {
  margin-bottom: 32px;
}
.member-info {
}
.three-title-team {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  color: #434455;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: #31d0aa;
}
.team-social-link-icon {
  fill: #f4f4fd;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .member + .member {
    margin-top: 0;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
  .member {
    margin: 0;
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

/*section4*/
.portfolio {
  padding: 96px 0;
}
.three-title-portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: left;
  color: #2e2f42;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  left: 0;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  z-index: 2;
  overflow: hidden;
}
.app-info:hover .overlay {
  transform: translateY(0);
  z-index: 1;
  bottom: 0;
}
.app-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 48px;
}
.portfolio-img,
.app-info {
  position: relative;
  overflow: hidden;
}
.app-info {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-info:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-img {
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .app-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .app-info {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-img {
    width: 356px;
    height: 300px;
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .app-list {
    row-gap: 48px;
  }
  .app-info {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-img {
    width: 360px;
  }
}

/*footer*/
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-parag {
  text-align: center;
  margin-bottom: 72px;
}
.logo-accent-footer {
  color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  color: #f4f4fd;
  text-align: start;
  margin: 0 auto;
}
.footer-social-media-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  text-align: center;
}
.footer-social-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-social-container-item {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-icon {
  fill: #f4f4fd;
}
.footer-social-media-wrapper {
  justify-content: flex-start;
  margin-bottom: 72px;
}
.subscribe-form-btn {
  display: flex;
  padding: 8px 24px;
  gap: 16px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
}
.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  background: #404bbf;
}
.wrapper-caption {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.subscribe-form-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 16px;
}
.subscribe-form-input {
  width: 288px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  text-align: start;
}
.subscribe-form-input::placeholder {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer-logo-parag {
    text-align: start;
    margin-right: 24px;
  }
  .footer-social-media-text {
    text-align: start;
  }
  .footer-social-container {
    justify-content: flex-start;
  }
  .footer-logo-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 108px;
  }
  .subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-end;
  }
  .subscribe-form-input {
    margin: 0;
    width: 264px;
  }
  .wrapper-caption {
    text-align: start;
  }
  .subscribe-form-field {
    justify-content: flex-start;
    margin: 0;
  }
  .footer-social-media-wrapper {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-logo-parag {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-social-media-wrapper {
    margin-right: auto;
  }
  .footer-logo-content-wrapper {
    flex-wrap: nowrap;
    padding: 0;
  }
  .subscribe-form-field {
    justify-content: flex-end;
  }
}
/*Modal*/
/*=====================================*\
  # Modal window
\*=====================================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 300ms ease-in, visibility 300ms ease-in;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.close-btn {
  position: absolute;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 0;
}
.close-btn .close {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn:hover .close,
.close-btn:focus .close {
  fill: #ffffff;
}
.modal-caption {
  width: 360px;
  margin-bottom: 16px;
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

.order-modal-inputs-wrapper {
  margin-bottom: 8px;
}
.modal-form .form {
  display: flex;
  flex-direction: column;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #8e8f99;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.form-field {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  display: block;
}
.form-input.comment {
  margin-bottom: 16px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: transparent;
  stroke: #404040;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
  stroke: #4d5ae5;
}

.form-link {
  text-decoration-line: underline;
  color: #4d5ae5;
}

input:checked {
  fill: var(--OCEAN, #404bbf);
  stroke-width: 1px;
}

.form-field-checkbox {
  margin-bottom: 24px;
}

.form-label.comment {
  margin-bottom: 16px;
}
.form-input-comment {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  font-weight: 400;
  flex-shrink: 0;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-comment:focus,
.form-input-comment:hover {
  border-color: #4d5ae5;
}
.form-button {
  display: block;
  padding: 16px 32px;
  margin-left: 71px;
  margin-right: 98px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 56px;
  min-width: 169px;
  color: #ffffff;
  border-radius: 4px;
  border: currentColor;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.form-field-checkbox > input:checked + .form-label > .checkbox-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.form-input:checked + .checkbox-label > .checkbox-icon {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.form-input:focus + .checkbox-label > .checkbox-icon {
  border-color: #4d5ae5;
}
